body {
    background-color: #faf5f5ea;
    font-family: 'Poppins', sans-serif;
}

header,
.alert {
    z-index: 100;
}

.description {
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in .3s;
}

.description:hover {
    height: 80px;
}

.cart {
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.table__products {
    display: flex;
}

.table__products>img {
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}

.table__quantity>input {
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}

.hide,
.remove {
    display: none;
}

#agradecimiento h1 {
    color: #333;
    font-family: monospace;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: wrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
    text-align: center;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}

.button {
    background: #fff;
    color: #333;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.button::after,
.button::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #000;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: trasform 0.3s ease;
}

.button:hover {
    transform: translate(-6px, -6px);
    color: #fff;
}

.button:hover::after {
    transform: translate(6px, 6px);
}

.button:hover::before {
    transform: translate(6px, 6px)
}

ul li .link-page {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #2c3e50;
    transition: .5s;
}

ul li .link-page:hover {
    color: #ecf0f1;
}

ul li .link-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 0 0 #000, 0 -1px 0 0 #000;
    transform: scaleY(2.5);
    opacity: 0;
    transition: .5s;
}

ul li .link-page:hover::before {
    transform: scaleY(1);
    opacity: 1;
}

ul li .link-page::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transform: scale(0);
    transition: .5s;
    z-index: -2;
}

ul li .link-page:hover::after {
    transform: scale(1);
}