body {
    background-color: #faf5f5ea;
}

header,
.alert {
    z-index: 100;
}

.description {
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in .3s;
}

.description:hover {
    height: 80px;
}

.cart {
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.table__products {
    display: flex;
}

.table__products>img {
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}

.table__quantity>input {
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}

.hide,
.remove {
    display: none;
}

#agradecimiento h1 {
    color: #333;
    font-family: monospace;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: wrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
    text-align: center;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}